In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import os

In [ ]:
genebank = 'COL003'
input_folder = 'D:/OneDrive - CGIAR/Documents/WORK/CIAT/Shared_with_me/GERMPLASM_INDEX'
data_folder = 'D:/OneDrive - CGIAR/Documents/WORK/CIAT/Shared_with_me/Genebanks/data/CGIAR Data 2023/data/raw_09-2024'

WoF =  os.path.join(input_folder, "/COMPRESSED_FILES/WFO/classification.csv")
Grin =  os.path.join(input_folder, "/COMPRESSED_FILES/A/taxonomy_species.txt")
Genesys =  os.path.join(data_folder, "/genesys-accessions-", genebank, ".csv")
out_file = os.path.join(input_folder, "D:/OneDrive - CGIAR/Documents/WORK/CIAT/Shared_with_me/GERMPLASM_INDEX/TAXONOMIC QUALITY INDEX/", genebank, ".csv")
#Genesys = 'D:/OneDrive - CGIAR/Documents/WORK/CIAT/Shared_with_me/GERMPLASM_INDEX/TAXONOMIC QUALITY INDEX/CIAT_taxa.csv'

In [7]:
genesys_df = pd.read_csv(Genesys)
genesys_df.head()

C:\Users\mvdiaz\AppData\Local\Temp\ipykernel_8644\3034025122.py:1: DtypeWarning: Columns (9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  genesys_df = pd.read_csv(Genesys)

,ACCENUMB,TAX,DOI,GENERO,ESPECIE,GENUS,SPECIES,SAUTHOR,SUBSP,SSPAUTHOR,BVAR,VARAUTHOR,FORMA
0,G4173,3050,10.18730/PPMVN,Phaseolus,vulgaris,Phaseolus,vulgaris,Linnaeus,NaN,NaN,NaN,NaN,NaN
1,G4174,3050,10.18730/JF52T,Phaseolus,vulgaris,Phaseolus,vulgaris,Linnaeus,NaN,NaN,NaN,NaN,NaN
2,G4175,3050,10.18730/PPMTM,Phaseolus,vulgaris,Phaseolus,vulgaris,Linnaeus,NaN,NaN,NaN,NaN,NaN
3,G4167,3050,10.18730/PPMZS,Phaseolus,vulgaris,Phaseolus,vulgaris,Linnaeus,NaN,NaN,NaN,NaN,NaN
4,G4176,3050,10.18730/JF53V,Phaseolus,vulgaris,Phaseolus,vulgaris,Linnaeus,NaN,NaN,NaN,NaN,NaN

In [10]:
taxo_columns = ['DOI', 'ACCENUMB',  'GENERO', 'ESPECIE', 
                     'SAUTHOR', 'SUBSP', 'SSPAUTHOR']
taxo_df = genesys_df[taxo_columns]
taxo_df.rename(columns = {'GENERO':'GENUS', 'ESPECIE':'SPECIES', 'SAUTHOR':'SPAUTHOR', 'SUBSP': 'SUBTAXA', 'SSPAUTHOR':'SUBTAUTHOR' }, inplace = True)
taxo_df.head()

C:\Users\mvdiaz\AppData\Local\Temp\ipykernel_8644\1865568626.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  taxo_df.rename(columns = {'GENERO':'GENUS', 'ESPECIE':'SPECIES', 'SAUTHOR':'SPAUTHOR', 'SUBSP': 'SUBTAXA', 'SSPAUTHOR':'SUBTAUTHOR' }, inplace = True)

              DOI ACCENUMB      GENUS   SPECIES  SPAUTHOR SUBTAXA SUBTAUTHOR
0  10.18730/PPMVN    G4173  Phaseolus  vulgaris  Linnaeus     NaN        NaN
1  10.18730/JF52T    G4174  Phaseolus  vulgaris  Linnaeus     NaN        NaN
2  10.18730/PPMTM    G4175  Phaseolus  vulgaris  Linnaeus     NaN        NaN
3  10.18730/PPMZS    G4167  Phaseolus  vulgaris  Linnaeus     NaN        NaN
4  10.18730/JF53V    G4176  Phaseolus  vulgaris  Linnaeus     NaN        NaN

In [ ]:
taxo_columns = ['INSTCODE', 'DOI', 'ACCENUMB', 'HISTORIC', 'CURATION', 'GENUS', 'SPECIES', 
                     'SPAUTHOR', 'SUBTAXA', 'SUBTAUTHOR', 'GRIN_TAXON_ID', 'GRIN_NAME', 
                     'GRIN_AUTHOR', 'CROPNAME', 'CROPCODE', 'SAMPSTAT']
taxo_df = genesys_df[taxo_columns]
taxo_df.head()

In [5]:
sampstat_categories = {
    100: 'Wild',
    110: 'Natural',
    120: 'Semi-natural/wild',
    130: 'Semi-natural/sown',
    200: 'Weedy',
    300: 'Traditional cultivar/landrace',
    400: 'Breeding/research material',
    410: 'Breeder’s line',
    411: 'Synthetic population',
    412: 'Hybrid',
    413: 'Founder stock/base population',
    414: 'Inbred line (parent of hybrid cultivar)',
    415: 'Segregating population',
    416: 'Clonal selection',
    420: 'Genetic stock',
    421: 'Mutant',
    422: 'Cytogenetic stock',
    423: 'Other genetic stock',
    500: 'Advanced or improved cultivar',
    600: 'GMO (by genetic engineering)',
    999: 'Other (elaborate in REMARKS field)'
}

In [6]:
# SAMPSTAT_CATEGORY
taxo_df = taxo_df.copy()
taxo_df['SAMPSTAT_CATEGORY'] = genesys_df['SAMPSTAT'].map(sampstat_categories)
taxo_df.head()

,INSTCODE,DOI,ACCENUMB,HISTORIC,CURATION,GENUS,SPECIES,SPAUTHOR,SUBTAXA,SUBTAUTHOR,GRIN_TAXON_ID,GRIN_NAME,GRIN_AUTHOR,CROPNAME,CROPCODE,SAMPSTAT,SAMPSTAT_CATEGORY
0,COL003,10.18730/JKECH,G16570,False,FULL,Phaseolus,vulgaris,NaN,NaN,NaN,27632.0,Phaseolus vulgaris,L.,beans,beans,300,Traditional cultivar/landrace
1,COL003,10.18730/JKEDJ,G16571,False,FULL,Phaseolus,vulgaris,NaN,NaN,NaN,27632.0,Phaseolus vulgaris,L.,beans,beans,300,Traditional cultivar/landrace
2,COL003,10.18730/JKEEK,G16572,False,FULL,Phaseolus,vulgaris,NaN,NaN,NaN,27632.0,Phaseolus vulgaris,L.,beans,beans,300,Traditional cultivar/landrace
3,COL003,10.18730/JKEFM,G16573,False,FULL,Phaseolus,vulgaris,NaN,NaN,NaN,27632.0,Phaseolus vulgaris,L.,beans,beans,300,Traditional cultivar/landrace
4,COL003,10.18730/JKEHP,G16574,False,FULL,Phaseolus,vulgaris,NaN,NaN,NaN,27632.0,Phaseolus vulgaris,L.,beans,beans,300,Traditional cultivar/landrace

In [7]:
# CROPNAME
crop_counts = taxo_df['CROPNAME'].value_counts()
print(crop_counts.head(10))

CROPNAME
beans      37916
forages    22448
Cassava     5329
Name: count, dtype: int64

In [8]:
# GENUS
genus_counts = taxo_df['GENUS'].value_counts()
print(genus_counts.head(10))

GENUS
Phaseolus       37916
Manihot          5329
Stylosanthes     4165
Desmodium        3394
Centrosema       2836
Aeschynomene     1145
Macroptilium     1052
Vigna            1026
Zornia            945
Brachiaria        584
Name: count, dtype: int64

In [9]:
# SPECIES
species_counts = taxo_df['SPECIES'].value_counts()
print(species_counts.head(20))

SPECIES
vulgaris         32310
esculenta         5122
lunatus           3301
sp.               1780
guianensis        1590
molle             1109
coccineus          949
scabra             788
incanum            697
maximum            510
dumosus            488
americana          441
heterocarpon       439
barbatum           434
striata            408
atropurpureum      381
macrocarpum        378
hamata             359
virginianum        353
mucunoides         345
Name: count, dtype: int64

In [10]:
# 'SUBTAXA'
subtaxa_counts = taxo_df['SUBTAXA'].value_counts()
print(subtaxa_counts.head(20))

Series([], Name: count, dtype: int64)

In [11]:
# SAMPSTAT
sampstat_category_counts = taxo_df['SAMPSTAT_CATEGORY'].value_counts()
print(sampstat_category_counts)

SAMPSTAT_CATEGORY
Traditional cultivar/landrace    39977
Wild                             24831
Weedy                              746
Semi-natural/wild                  139
Name: count, dtype: int64

In [11]:
def validate_taxonomy_row(row):
    
    validation = {}
    warnings = []

    # Validación de GENUS
    validation['GENUS_VALID'] = 1 if pd.notna(row['GENUS']) else 0
    
    # Si GENUS es válido, continuamos con el resto
    if validation['GENUS_VALID'] == 1:
              
        if pd.notna(row['SUBTAUTHOR']):
            validation['SUBTAXA_VALID'] = 1 if pd.notna(row['SUBTAXA']) & pd.notna(row['SPECIES']) else 0
           
        else:
             warnings.append('Subtaxa authority description is missing')
             validation['SUBTAXA_VALID'] = 0.5 if pd.notna(row['SUBTAXA']) & pd.notna(row['SPECIES']) else 0

        if pd.notna(row['SPAUTHOR']):
            validation['SPECIES_VALID'] = 1 if pd.notna(row['SPECIES']) else 0
        else:
             warnings.append('Species authority description is missing')
             validation['SPECIES_VALID'] = 0.5 if pd.notna(row['SPECIES']) else 0

        if pd.notna(row['SPECIES']):

            Spp = bool(re.search(r'\b(sp|spp|sp\.)\b', row['SPECIES'], re.IGNORECASE))

            if Spp: 
                validation['SPECIES_VALID'] = 0
                warnings.append('Species name like Sp, spp, sp by itself is not is not descriptive')
        else:
             warnings.append('Species name is missing')

        if pd.notna(row['SUBTAXA']):
        
            Subspp = bool(re.search(r'f\.|var\.|subsp\.', row['SUBTAXA'], re.IGNORECASE)) 

            if Subspp == False:
                validation['SUBTAXA_VALID'] = validation['SUBTAXA_VALID'] - 0.25
                warnings.append('var. susbsp, f. etc.. is missing as first word of the field. (This can create taxonomic issues)')

        else:
            warnings.append('Subtaxa name is missing')


    else:

         warnings.append('Genus description is missing')
         validation['SUBTAXA_VALID'] = 0
         validation['SPECIES_VALID'] = 0



    # Cálculo del puntaje total basado en la suma de los validadores
    validation['TAXA_SCORE_VALUE'] = sum(validation.values())
    validation['WARNINGS'] = '; '.join(warnings) if warnings else None
    
    return pd.Series(validation)

In [12]:
# Función para aplicar la validación a todo el DataFrame
def validate_taxonomy_df(df):
    validation_df = df.apply(validate_taxonomy_row, axis=1)
    return pd.concat([df, validation_df], axis=1)

In [13]:
genesys_df_validated = validate_taxonomy_df(taxo_df)
genesys_df_validated.head()

,DOI,ACCENUMB,GENUS,SPECIES,SPAUTHOR,SUBTAXA,SUBTAUTHOR,GENUS_VALID,SUBTAXA_VALID,SPECIES_VALID,TAXA_SCORE_VALUE,WARNINGS
0,10.18730/PPMVN,G4173,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...
1,10.18730/JF52T,G4174,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...
2,10.18730/PPMTM,G4175,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...
3,10.18730/PPMZS,G4167,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...
4,10.18730/JF53V,G4176,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...

In [14]:
def traffic_ligth(df):

    df['TAXA_SCORE_CATEGORY'] = ['Green' if value > 2 and value <= 3 else 'Yellow' if value > 1 and value <= 2 else 'Red' for value in df['TAXA_SCORE_VALUE']]

    return df

In [15]:
genesys_df_validated = traffic_ligth(genesys_df_validated)

In [18]:
data_grin = pd.read_csv(Grin, delimiter='\t')

C:\Users\mvdiaz\AppData\Local\Temp\ipykernel_8644\3778603268.py:1: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  data_grin = pd.read_csv(Grin, delimiter='\t')

In [19]:
taxa_columns_grin = ['taxonomy_species_id',
                    'species_name', 
                    'species_authority',
                    'subspecies_name',
                    'subspecies_authority',
                    'variety_name', 
                    'variety_authority', 
                    'subvariety_name', 
                    'subvariety_authority', 
                    'forma_name',
                    'forma_authority']

In [20]:
data_grin[taxa_columns_grin]

,taxonomy_species_id,species_name,species_authority,subspecies_name,subspecies_authority,variety_name,variety_authority,subvariety_name,subvariety_authority,forma_name,forma_authority
0,1,aethusifolia,Turcz.,\N,\N,\N,\N,\N,\N,\N,\N
1,2,aethusifolia,Turcz.,\N,\N,latisecta,Maxim.,\N,\N,\N,\N
2,3,afoliata,Buchanan,\N,\N,\N,\N,\N,\N,\N,\N
3,4,alpina,(L.) Mill.,\N,\N,\N,\N,\N,\N,\N,\N
4,6,alpina,(L.) Mill.,sibirica,(Mill.) Kuntze,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...
138780,510156,hookeriana,(Decne.) B. B. Liu & J. Wen,\N,\N,\N,\N,\N,\N,\N,\N
138781,510157,laoshanica,(W. B. Liao et al.) B. B. Liu & J. Wen,\N,\N,\N,\N,\N,\N,\N,\N
138782,510158,obovata,(W. W. Sm.) B. B. Liu & J. Wen,\N,\N,\N,\N,\N,\N,\N,\N
138783,510159,petiolata,(Hook. f.) B. B. Liu & J. Wen,\N,\N,\N,\N,\N,\N,\N,\N
138784,510160,seguinii,(H. Lév.) B. B. Liu & J. Wen,\N,\N,\N,\N,\N,\N,\N,\N

In [23]:
def check_taxonomy_suggestions(row, grin):

    row['GRIN_TAXON_ID'] = None
    validation = {}
    if pd.notna(row['GRIN_TAXON_ID']):
        data = grin.loc[grin['taxonomy_species_id'] == row['GRIN_TAXON_ID']]
        
        if not data.empty:
            # Extract the first matching row as a Series
            data = data.iloc[0]
            
            # Safely extract each component, replacing NaN with empty strings
            genus = str(row.get('GENUS', '')).strip()
            species_name = str(data.get('species_name', '')).strip()
            species_authority = str(data.get('species_authority', '')).strip()
            subspecies_name = str(data.get('subspecies_name', '')).strip()
            subspecies_authority = str(data.get('subspecies_authority', '')).strip()
            variety_name = str(data.get('variety_name', '')).strip()
            variety_authority = str(data.get('variety_authority', '')).strip()
            forma_name = str(data.get('forma_name', '')).strip()
            forma_authority = str(data.get('forma_authority', '')).strip()
            
            # Concatenate the parts
            suggested_taxa = (
                f"{genus} {species_name} {species_authority} "
                f"subsp. {subspecies_name} {subspecies_authority} "
                f"var. {variety_name} {variety_authority} "
                f"f. {forma_name} {forma_authority}"
            )


        validation['suggested_taxa']  = re.sub(r'subsp\. \\N|var\. \\N|f\. \\N', '', suggested_taxa)
        validation['suggested_taxa'] = re.sub(r'\\N',  '', validation['suggested_taxa'])
        validation['suggested_taxa'] = re.sub(r'\\',  '', validation['suggested_taxa'])
        
        validation['suggested_grin_id'] =  row['GRIN_TAXON_ID']
   
    else:
        if pd.notna(row['SPECIES']) & pd.notna(row['SUBTAXA']):
                   
          data = grin.loc[(grin['name'] == row['SPECIES'] + ' ' + row['SUBTAXA'])]
         # data = data[(data['subspecies_name'].str.contains(row['SUBTAXA'], case=False, na=False)) | 
         #             (data['variety_name'].str.contains(row['SUBTAXA'], case=False, na=False)) | 
         #             (data['subvariety_name'].str.contains(row['SUBTAXA'], case=False, na=False)) |
         #             (data['forma_name'].str.contains(row['SUBTAXA'], case=False, na=False))]
          validation['suggested_grin_id'] =  data.get('current_taxonomy_species_id', '')

          # Safely extract each component, replacing NaN with empty strings
          genus = str(row.get('GENUS', '')).strip()
          species_name = str(data.get('species_name', '')).strip()
          species_authority = str(data.get('species_authority', '')).strip()
          subspecies_name = str(data.get('subspecies_name', '')).strip()
          subspecies_authority = str(data.get('subspecies_authority', '')).strip()
          variety_name = str(data.get('variety_name', '')).strip()
          variety_authority = str(data.get('variety_authority', '')).strip()
          forma_name = str(data.get('forma_name', '')).strip()
          forma_authority = str(data.get('forma_authority', '')).strip()
            

          validation['suggested_taxa'] =  (
                f"{genus} {species_name} {species_authority} "
                f"subsp. {subspecies_name} {subspecies_authority} "
                f"var. {variety_name} {variety_authority} "
                f"f. {forma_name} {forma_authority}"
            )

          validation['suggested_taxa']  = re.sub(r'subsp\. \\N|var\. \\N|f\. \\N', '', validation['suggested_taxa'])
          validation['suggested_taxa'] = re.sub(r'\\N',  '', validation['suggested_taxa'])
          validation['suggested_taxa'] = re.sub(r'\\',  '', validation['suggested_taxa'])

     
        else: 
            if  pd.notna(row['SPECIES']):

                data = grin.loc[(grin['name'] == row['SPECIES'])]           
                validation['suggested_grin_id'] =  data.get('current_taxonomy_species_id', '')

                # Safely extract each component, replacing NaN with empty strings
                genus = str(row.get('GENUS', '')).strip()
                species_name = str(data.get('species_name', '')).strip()
                species_authority = str(data.get('species_authority', '')).strip()
                subspecies_name = str(data.get('subspecies_name', '')).strip()
                subspecies_authority = str(data.get('subspecies_authority', '')).strip()
                variety_name = str(data.get('variety_name', '')).strip()
                variety_authority = str(data.get('variety_authority', '')).strip()
                forma_name = str(data.get('forma_name', '')).strip()
                forma_authority = str(data.get('forma_authority', '')).strip()
                                  
                validation['suggested_taxa'] =  (
                           f"{genus} {species_name} {species_authority} "
                            f"subsp. {subspecies_name} {subspecies_authority} "
                            f"var. {variety_name} {variety_authority} "
                            f"f. {forma_name} {forma_authority}"
                        )
            else: 

                data = grin.loc[(grin['name']  ==  row['SUBTAXA'])]               
                #data = grin.copy()
                #data = data[(data['subspecies_name'].str.contains(row['SUBTAXA'], case=False, na=False)) | 
                #           (data['variety_name'].str.contains(row['SUBTAXA'], case=False, na=False)) | 
                #            (data['subvariety_name'].str.contains(row['SUBTAXA'], case=False, na=False)) |
                #            (data['forma_name'].str.contains(row['SUBTAXA'], case=False, na=False))]

                validation['suggested_grin_id'] =  data.get('current_taxonomy_species_id', '')
                        
                validation['suggested_taxa'] =  (
                            f"{genus} {species_name} {species_authority} "
                            f"subsp. {subspecies_name} {subspecies_authority} "
                            f"var. {variety_name} {variety_authority} "
                            f"f. {forma_name} {forma_authority}"
                        )
                        
    # Check if suggested_grin_id is a Series
    if isinstance(validation['suggested_grin_id'], pd.Series):
        if validation['suggested_grin_id'].notna().sum() > 1:  # Check for multiple non-null values
            # Concatenate non-null values into a single string
            validation['suggested_grin_id'] = ', '.join(
                validation['suggested_grin_id'].dropna().astype(str)
            )
        else:
            # Check for a single non-null value
            single_value = validation['suggested_grin_id'].dropna()
            if not single_value.empty:  # Check if there's a non-null value
                validation['suggested_grin_id'] = int(single_value.iloc[0])
            else:
                validation['suggested_grin_id'] = None  # Handle case where all values are NaN
    else:
        # If it's not a Series, it might be a single value (like float or int)
        if pd.notna(validation['suggested_grin_id']):
            validation['suggested_grin_id'] = int(validation['suggested_grin_id'])
        else:
            validation['suggested_grin_id'] = None  # Handle NaN


    return pd.Series(validation)

    #include join for multiple taxa id 
    # include the case taxa species id NA

In [24]:
def check_taxonomy_df(df):
    validation_df = df.apply(lambda row: check_taxonomy_suggestions(row, data_grin), axis=1)

    return pd.concat([df, validation_df], axis=1)

v = check_taxonomy_df(genesys_df_validated)

In [26]:
v.head(5)

,DOI,ACCENUMB,GENUS,SPECIES,SPAUTHOR,SUBTAXA,SUBTAUTHOR,GENUS_VALID,SUBTAXA_VALID,SPECIES_VALID,TAXA_SCORE_VALUE,WARNINGS,TAXA_SCORE_CATEGORY,suggested_grin_id,suggested_taxa
0,10.18730/PPMVN,G4173,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...,Yellow,None,"Phaseolus Series([], Name: species_name, dtype..."
1,10.18730/JF52T,G4174,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...,Yellow,None,"Phaseolus Series([], Name: species_name, dtype..."
2,10.18730/PPMTM,G4175,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...,Yellow,None,"Phaseolus Series([], Name: species_name, dtype..."
3,10.18730/PPMZS,G4167,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...,Yellow,None,"Phaseolus Series([], Name: species_name, dtype..."
4,10.18730/JF53V,G4176,Phaseolus,vulgaris,Linnaeus,NaN,NaN,1,0.0,1.0,2.0,Subtaxa authority description is missing; Subt...,Yellow,None,"Phaseolus Series([], Name: species_name, dtype..."

In [ ]:
v.to_csv(out_file, index=False)